.exclusive-container {
  background-image: url("Mask\ Group.jpg");
  background-size: cover;
  background-position: center;

  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.exclusive-text {
  color: white;
  font-size: 32px;
  margin: 0;
}

.shop-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

